<template>
  <Dropdown
    :ref="'filter-' + filter.id + '-value'"
    class="filters__value-dropdown dropdown--tiny"
    :filter="filter"
    :fields="fields"
    :value="filter.value"
    :primary="primary"
    :read-only="readOnly"
    @input="$emit('input', $event)"
  >
    <DropdownItem
      v-for="(value, name, index) in selectOptions"
      :key="'filter-' + index"
      :value="value"
      :name="name"
    >
    </DropdownItem>
  </Dropdown>
</template>

<script>
import Dropdown from '@baserow/modules/core/components/Dropdown'
import DropdownItem from '@baserow/modules/core/mixins/dropdownItem'

export default {
  name: 'ViewFilterTypeFileTypeDropdown',
  components: { DropdownItem, Dropdown },
  props: {
    filter: {
      type: Object,
      required: true,
    },
    fields: {
      type: Array,
      required: true,
    },
    primary: {
      type: Object,
      required: true,
    },
    readOnly: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      selectOptions: {
        image: 'image',
        document: 'document',
      },
    }
  },
}
</script>
